<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/home}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/province/save}" th:object="${province}"
          th:method="POST">
<!--        <input type="hidden" th:text="Chỗ này đéo cần"/>-->
        <div>
            <label>Name</label>
            <input type="text" th:value="${province.getProvinceName()}" name="name"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:value="${province.getEmail()}" name="email"/>
        </div>
        <div>
            <label>Address</label>
            <select th:name="nations" th:id="nations" th:each="nation:${nations}">
                <options th:value=""></options>
            </select>
            <input type="text" th:value="${customer.getAddress()}" name="address"/>
        </div>
        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>