<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/customer/delete}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <input type="hidden" name="id" th:value="${customer.getId()}"/>
        <div>
            <label>Name</label>
            <input type="text" th:value="${customer.getName()}" name="name"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:value="${customer.getEmail()}" name="email"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:value="${customer.getAddress()}" name="address"/>
        </div>
        <input type="submit" value="Modify"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>