<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<div>
    <span style="font-size: 30px; font-weight: bold">Danh sách thành phố</span>
    <a th:href="@{/addprovince}"><button style="float: right; display: inline-block">Thêm thành phố</button></a>
</div>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table id="province" border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>Thành phố</th>
        <th>Quốc gia</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <th:block th:each="province : ${provinces}">
            <tr >
                <td th:text="${province.getProvinceId()}"></td>
                <td th:text="${province.getProvinceName()}"></td>
                <td th:text="${province.getNation()}"></td>
                <td><a th:href="@{/edit/__${province.getProvinceId()}__}"> Chỉnh sửa </a> |
                    <a href="#" onclick="deleteProvince(this)" th:id="${province.provinceId}" th:name="${province.provinceName}"> Xóa </a> |
                    <a th:href="@{/detail/__${province.getProvinceId()}__}"> Chi tiết </a>
                </td>
            </tr>
        </th:block>
    </tbody>
</table>
<footer>
    &copy; 2020 Minh Nguyễn No. 1
</footer>
</body>
<script>
    function deleteProvince(input) {
        let confirmed = confirm("Bạn chắc chắn muốn xóa " + input.name + " chứ??");
        if ( confirmed == true){
            window.open("/delete/" + input.id, "_self");
        }
    }
</script>
</html>
